%html
  %head
    %title EverClip
    %link{:rel => 'stylesheet', :href => '/css', :type => 'text/css'}
    %script{:language => 'javascript', :src => '/jquery.js'}
    %script{:language => 'javascript', :src => '/jquery.scrollTo.js'}
  %body
    #wrap
      #try_me
      #search
        %input#search{:type => 'text', :size => 60}
      #clips
        %ul
          - @clips.each do |clip|
            %li
              .clip
                %a.title{:href => 'javascript:void(0)', :onclick => "$('#clip_#{clip.id}').toggle()"}= clip.title
                %pre.text{:style => 'display: none', :id => "clip_#{clip.id}"}= clip.text
        

    :javascript
      var currentIndex = 0;
      var scrollOffset = -200;
      $(function() {
        var targetLi = function(index) {
          return $($('#clips li')[index]);
        }

        var openClip = function(index) {
          var target = targetLi(index);
          $('.text', target).toggle();
          $.scrollTo(target, {offset: {left: 0, top: scrollOffset}});
        };

        var moveTo = function(index) {
          if (index < 0 || index >= $('#clips li').length) {
            return;
          }

          var oldIndex = currentIndex;
          currentIndex = index;

          targetLi(oldIndex).removeClass('selected');

          var target = targetLi(currentIndex)
          target.addClass('selected');
          $.scrollTo(target, {offset: {top: scrollOffset}});
        };

        $(window).keydown(function(e){
          if (e.keyCode == 74) {        // 'j'
            moveTo(currentIndex + 1);
          } else if (e.keyCode == 75) { // 'k'
            moveTo(currentIndex - 1);
          } else if (e.keyCode == 79) { // 'o'
            openClip(currentIndex);
          }
        });

        moveTo(0);
      });
