%html
  %head
    %title EverClip
    %link{:rel => 'stylesheet', :href => '/css', :type => 'text/css'}
    %script{:language => 'javascript', :src => '/jquery.js'}
    %script{:language => 'javascript', :src => '/jquery.scrollTo.js'}
    %script{:language => 'javascript', :src => '/jquery.timer.js'}
    %script{:language => 'javascript', :src => '/app.js'}
  %body
    #wrap
      #search_form
        %input#search{:type => 'text', :size => 60}
        %img#loading{:src => 'loading.gif', :style => 'display: none'}

      #clips
        != partial :clips
